*{
    padding: 0;
    margin: 0;
}
body{
    background: rgb(235, 235, 235);
    font-family: 'Poppins', sans-serif;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}


/* ********************************************************
************************************************************
        Header Section Css Code Start
***********************************************************
************************************************************ */
header{
    border-bottom: 1px solid rgb(184, 184, 184);
    padding: 0 40px;
    background: #fff;
}
header ul li{
    display: inline-block;
}
.home-page i{
    color: #000;
    font-size: 30px;
    padding: 10px 50px 10px 0;
}
.header_content{
    display: flex;
}
.header_logo{
    background: green;
    position: relative;
    z-index: 2;
    padding: 0 60px 0 15px;
}
.header_logo::before{
    content: '';
    position: absolute;
    width: 10%;
    height: 100%;
    left: -10px;
    top: 0;
    background: green;
    transform: skewX(30deg);
}
.header_logo::after{
    content: '';
    position: absolute;
    width: 10%;
    height: 100%;
    left: -10px;
    bottom: 0;
    background: green;
    transform: skewX(-30deg);
    z-index: 1;
}
.h-style::before{
    content: '';
    position: absolute;
    width: 10%;
    height: 100%;
    right: -18px;
    top: 0;
    background: #fff;
    transform: skewX(30deg);
}.h-style::after{
    content: '';
    position: absolute;
    width: 10%;
    height: 100%;
    right: -18px;
    bottom: 0;
    background: #fff;
    transform: skewX(-30deg);
    z-index: 1;
}
.header_logo span{
    color: #fff;
    font-size: 24px;
    display: inline-block;
    font-weight: 700;
    transform: translateY(6px);
}
.header_logo img{
    width: 60px;
}
.main_menu{
    margin-left: auto;
    transform: translateY(8px);
}
.main_menu img{
    width: 30px;
    border: 2px solid #000;
    height: 30px;
    border-radius: 50%;
}
.main_menu span{
    font-weight: 600;
    font-size: 18px;
    transform: translateY(2px);
    display: inline-block;
}
.main_menu span i{
    margin-left: 12px;
}

/* ********************************************************
************************************************************
        Header Section Css Code End
***********************************************************
************************************************************ */


/* ********************************************************
************************************************************
        Side Menu Section Css Code Start
***********************************************************
************************************************************ */
.side_menu{
    background: rgb(255, 255, 255);
    width: 70px;
    padding: 20px 0 20px 15px;
    overflow-x: hidden;
    position: absolute;
    z-index: 9;
    top: 51px;
    left: 0;
    bottom: 0;
    border-right: 1px solid rgb(237, 237, 237);
    transition: 0.5s;
}
.side_menu:hover{
    width: 280px;
    transition: 0.5s;
}
.side_menu ul{
    margin: 0;
    padding: 0;
}
.side_menu ul li a{
    position: relative;
    width: 250px !important;
    display: table;
}
.side_menu ul li a i{
    font-size: 24px;
    width: 40px;
    color: green;
    text-align: center;
}
.side_menu ul li .fa-chart-line{
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: green;
    color: #fff;
    border-radius: 50%;
}
.side_menu ul li span{
    display: inline-block;
    font-size: 22px;
    margin-left: 20px;
    font-weight: 400;
    color: #000;
}
.side_menu ul li span i{
    font-size: 18px;
    margin-left: 15px;
    position: absolute;
    right: 0;
    top: 10px;
}
.log_out{
    position: absolute;
    bottom: 30px;
}
.bus_info{
    margin-left: 45px;
    height: 0;
    overflow: hidden;

}
.bus_info ul li a,
.train_info ul li a,
.flight_info ul li a{
    font-size: 18px;
    font-weight: 400;
    color: #000;
    padding: 5px 0;
}
.bus_info ul li a i{
    font-size: 10px;
    transform: translateY(-5px);
}


/* ********************************************************
************************************************************
        Side Menu Section Css Code End
***********************************************************
************************************************************ */


/* ********************************************************
************************************************************
        Body Main Section Css Code Start
***********************************************************
************************************************************ */
/* ---------------------------------------------------
Body header section css code Start
------------------------------------------------------ */
.body_section{
    padding: 10px 40px 0 100px;
}
.body_header ul{
    padding: 0;
}
.body_header ul li{
    display: inline-block;
}
.body_header ul li a{
    color: rgb(128, 128, 128);
}
.body_header ul li .active{
    color: green;
}
.body_header hr{
    padding: 0;
    margin: 0;
}
/* ---------------------------------------------------
Body header section css code End
------------------------------------------------------ */
/* ------------------------------------------------------
Home Page Css Code Here start
--------------------------------------------------------- */
.comming_soon{
    margin: 200px;
    background: rgb(23, 90, 53);
}
.comming_soon h2{
    padding: 100px 200px;
    color: #fff;
    font-size: 80px;
}

/* For Image Upload Css Code */
.panel {margin: 50px 0 20px; width: 300px; text-align: center;}
.button_outer {background: green; border-radius:30px; text-align: center; height: 50px; width: 200px; display: inline-block; transition: .2s; position: relative; overflow: hidden; cursor: pointer;}
.button_outer:hover {background: rgb(3, 195, 3);}
.btn_upload {padding: 12px 30px 12px; color: #fff; text-align: center; position: relative; display: inline-block; overflow: hidden; z-index: 3; white-space: nowrap;}
.btn_upload input {position: absolute; width: 100%; left: 0; top: 0; width: 100%; height: 105%; cursor: pointer; opacity: 0;}
.file_uploading {width: 100%; height: 10px; margin-top: 20px; background: #ccc;}
.file_uploading .btn_upload {display: none;}
.processing_bar {position: absolute; left: 0; top: 0; width: 0; height: 100%; border-radius: 30px; background:#83ccd3; transition: 3s;}
.file_uploading .processing_bar {width: 100%;}
.success_box {display: none; width: 50px; height: 50px; position: relative;}
.success_box:before {content: ''; display: block; width: 9px; height: 18px; border-bottom: 6px solid #fff; border-right: 6px solid #fff; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg); position: absolute; left: 20px; top: 15px;}
.file_uploaded .success_box {display: inline-block;}
.file_uploaded {margin-top: 0; width: 50px; background:#83ccd3; height: 50px;}
.uploaded_file_view {max-width: 200px; margin: 20px auto; text-align: center; position: relative; transition: .2s; opacity: 0; border: 2px solid #ddd; padding: 15px;}
.file_remove{width: 30px; height: 30px; border-radius: 50%; display: block; position: absolute; background: #aaa; line-height: 30px; color: #fff; font-size: 12px; cursor: pointer; right: -15px; top: -15px;}
.file_remove:hover {background: #222; transition: .2s;}
.uploaded_file_view img {max-width: 100%;}
.uploaded_file_view.show {opacity: 1;}
.error_msg {text-align: center; color: #f00}

/* add bus section css code */
.add_bus{
    width: 800px;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
}
.add_bus label{
    font-size: 18px;
    font-weight: 500;
}
.b_status,
.add_bus input{
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid green;
    display: block;
}
.add_bus input:focus{
    outline: none;
}
.add_cat_button button{
    border: none;
    padding: 12px 30px;
    background: green;
    color: #fff;
    font-weight: 500;

}
.add_cat_button button:hover{
    background: rgb(3, 195, 3);

}
/* View Category Css Code here */

.add-cat-button a{
    background: green;
    color: #fff;
    padding: 8px 20px;
    font-size: 18px;
}
.add-cat-button a:hover{
    background: rgb(3, 195, 3);
    color: #fff;
}
.add-cat-button a i{
    background: #fff;
    color: green;
    border-radius: 100%;
    font-size: 12px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    margin-right: 10px;
}
.cat-info-search span{
    font-size: 20px;
}
.cat-info-search input{
    border: none;
    border-radius: 30px;
    padding: 8px 15px;
    margin-left: 10px;
    background: #fff;
    width: 50%;
}
.cat-info-search input:focus{
    outline: none;
}
.edit{
    background: green;
    color: #fff;
    padding: 4px 16px;
    margin-right: 5px;
}
.edit:hover{
    background: rgb(30, 160, 30);
    color: #fff;
}
.delete{
    background: rgb(223, 38, 38);
    color: #fff;
    padding: 4px 16px;
}
.delete:hover{
    background: rgb(244, 64, 64);
    color: #fff;
}

/* ------------------------------------------------------
Home Page Css Code Here End
--------------------------------------------------------- */


/* ********************************************************
************************************************************
        Body Main Section Css Code End
***********************************************************
************************************************************ */